* {
     margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(1, 1, 1);
}

h3 {
    position: relative;
    left: 20em;
    bottom: 1.5em;
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
}
h1{
    font-weight: 400;
}

.weather-box {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../backgroundimage/rainy-11.jpg");
    background-size: cover;
    color: rgb(255, 250, 250);
    position: relative;
    transition: 500ms;
    opacity: 1;   
    font-size:20px;
}

.weather-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 4em 0;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    font-size: 7em;
    margin: 0;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form {
    margin-bottom: 3em;
}

#submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: grey;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

#submit:hover {
    background: #fff !important;
    color: #000;
}

#search {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 88%;
    color: #fff;
    font-size: 1.1em;
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: #ccc;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;
}

panel ul h4 {
    margin: 3em 0;
}

.panel ul li.city {
    margin: 1em 0;
    background: -webkit-linear-gradient(#33ccff 0%, #ff99cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover{
    color: #fff;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .panel, .container {
        position: relative;
        width: 100%;
        top: intial;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-height: 300px) {
    .weather-box {
        min-height: 40em;
    }
}

.forecastContainer {
    border: non;
    flex-wrap: wrap;  
    width: 100%;  
}

.forecastContainer h2 { 
    color: white;
    flex: 1 1 100%;
}

.weatherInfoContainer {
    flex: 1 1 100%;
    display: flex;
    border: none;
    justify-content: space-between;
    min-height: 250px;
}
.weatherInfo {
    flex: 0 1 18%;
    border: 1px solid white;
    color: white;
    text-align: center;
}